/*
Theme Name: Storefront Child
description: >-
  Storefront Child Theme
Authors: Maurice Hayward and Paul Melero
Template: storefront
Version: 1.0.0
*/
.full-size {
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* or overflow:auto; if you want scrollbars */ }

.image img.is-max-16x16 {
  width: auto !important;
  height: auto !important;
  max-width: 16px !important;
  max-height: 16px !important; }

@media screen and (min-width: 1407px) {
  .image img.is-max-16x16-fullhd {
    width: auto !important;
    height: auto !important;
    max-width: 16px !important;
    max-height: 16px !important; } }

@media screen and (min-width: 1215px) {
  .image img.is-max-16x16-widescreen {
    width: auto !important;
    height: auto !important;
    max-width: 16px !important;
    max-height: 16px !important; } }

@media screen and (min-width: 1024px) {
  .image img.is-max-16x16-desktop {
    width: auto !important;
    height: auto !important;
    max-width: 16px !important;
    max-height: 16px !important; } }

@media screen and (min-width: 768px) {
  .image img.is-max-16x16-tablet {
    width: auto !important;
    height: auto !important;
    max-width: 16px !important;
    max-height: 16px !important; } }

@media screen and (max-width: 767px) {
  .image img.is-max-16x16-mobile {
    width: auto !important;
    height: auto !important;
    max-width: 16px !important;
    max-height: 16px !important; } }

.image img.is-max-24x24 {
  width: auto !important;
  height: auto !important;
  max-width: 24px !important;
  max-height: 24px !important; }

@media screen and (min-width: 1407px) {
  .image img.is-max-24x24-fullhd {
    width: auto !important;
    height: auto !important;
    max-width: 24px !important;
    max-height: 24px !important; } }

@media screen and (min-width: 1215px) {
  .image img.is-max-24x24-widescreen {
    width: auto !important;
    height: auto !important;
    max-width: 24px !important;
    max-height: 24px !important; } }

@media screen and (min-width: 1024px) {
  .image img.is-max-24x24-desktop {
    width: auto !important;
    height: auto !important;
    max-width: 24px !important;
    max-height: 24px !important; } }

@media screen and (min-width: 768px) {
  .image img.is-max-24x24-tablet {
    width: auto !important;
    height: auto !important;
    max-width: 24px !important;
    max-height: 24px !important; } }

@media screen and (max-width: 767px) {
  .image img.is-max-24x24-mobile {
    width: auto !important;
    height: auto !important;
    max-width: 24px !important;
    max-height: 24px !important; } }

.image img.is-max-32x32 {
  width: auto !important;
  height: auto !important;
  max-width: 32px !important;
  max-height: 32px !important; }

@media screen and (min-width: 1407px) {
  .image img.is-max-32x32-fullhd {
    width: auto !important;
    height: auto !important;
    max-width: 32px !important;
    max-height: 32px !important; } }

@media screen and (min-width: 1215px) {
  .image img.is-max-32x32-widescreen {
    width: auto !important;
    height: auto !important;
    max-width: 32px !important;
    max-height: 32px !important; } }

@media screen and (min-width: 1024px) {
  .image img.is-max-32x32-desktop {
    width: auto !important;
    height: auto !important;
    max-width: 32px !important;
    max-height: 32px !important; } }

@media screen and (min-width: 768px) {
  .image img.is-max-32x32-tablet {
    width: auto !important;
    height: auto !important;
    max-width: 32px !important;
    max-height: 32px !important; } }

@media screen and (max-width: 767px) {
  .image img.is-max-32x32-mobile {
    width: auto !important;
    height: auto !important;
    max-width: 32px !important;
    max-height: 32px !important; } }

.image img.is-max-48x48 {
  width: auto !important;
  height: auto !important;
  max-width: 48px !important;
  max-height: 48px !important; }

@media screen and (min-width: 1407px) {
  .image img.is-max-48x48-fullhd {
    width: auto !important;
    height: auto !important;
    max-width: 48px !important;
    max-height: 48px !important; } }

@media screen and (min-width: 1215px) {
  .image img.is-max-48x48-widescreen {
    width: auto !important;
    height: auto !important;
    max-width: 48px !important;
    max-height: 48px !important; } }

@media screen and (min-width: 1024px) {
  .image img.is-max-48x48-desktop {
    width: auto !important;
    height: auto !important;
    max-width: 48px !important;
    max-height: 48px !important; } }

@media screen and (min-width: 768px) {
  .image img.is-max-48x48-tablet {
    width: auto !important;
    height: auto !important;
    max-width: 48px !important;
    max-height: 48px !important; } }

@media screen and (max-width: 767px) {
  .image img.is-max-48x48-mobile {
    width: auto !important;
    height: auto !important;
    max-width: 48px !important;
    max-height: 48px !important; } }

.image img.is-max-64x64 {
  width: auto !important;
  height: auto !important;
  max-width: 64px !important;
  max-height: 64px !important; }

@media screen and (min-width: 1407px) {
  .image img.is-max-64x64-fullhd {
    width: auto !important;
    height: auto !important;
    max-width: 64px !important;
    max-height: 64px !important; } }

@media screen and (min-width: 1215px) {
  .image img.is-max-64x64-widescreen {
    width: auto !important;
    height: auto !important;
    max-width: 64px !important;
    max-height: 64px !important; } }

@media screen and (min-width: 1024px) {
  .image img.is-max-64x64-desktop {
    width: auto !important;
    height: auto !important;
    max-width: 64px !important;
    max-height: 64px !important; } }

@media screen and (min-width: 768px) {
  .image img.is-max-64x64-tablet {
    width: auto !important;
    height: auto !important;
    max-width: 64px !important;
    max-height: 64px !important; } }

@media screen and (max-width: 767px) {
  .image img.is-max-64x64-mobile {
    width: auto !important;
    height: auto !important;
    max-width: 64px !important;
    max-height: 64px !important; } }

.image img.is-max-96x96 {
  width: auto !important;
  height: auto !important;
  max-width: 96px !important;
  max-height: 96px !important; }

@media screen and (min-width: 1407px) {
  .image img.is-max-96x96-fullhd {
    width: auto !important;
    height: auto !important;
    max-width: 96px !important;
    max-height: 96px !important; } }

@media screen and (min-width: 1215px) {
  .image img.is-max-96x96-widescreen {
    width: auto !important;
    height: auto !important;
    max-width: 96px !important;
    max-height: 96px !important; } }

@media screen and (min-width: 1024px) {
  .image img.is-max-96x96-desktop {
    width: auto !important;
    height: auto !important;
    max-width: 96px !important;
    max-height: 96px !important; } }

@media screen and (min-width: 768px) {
  .image img.is-max-96x96-tablet {
    width: auto !important;
    height: auto !important;
    max-width: 96px !important;
    max-height: 96px !important; } }

@media screen and (max-width: 767px) {
  .image img.is-max-96x96-mobile {
    width: auto !important;
    height: auto !important;
    max-width: 96px !important;
    max-height: 96px !important; } }

.image img.is-max-128x128 {
  width: auto !important;
  height: auto !important;
  max-width: 128px !important;
  max-height: 128px !important; }

@media screen and (min-width: 1407px) {
  .image img.is-max-128x128-fullhd {
    width: auto !important;
    height: auto !important;
    max-width: 128px !important;
    max-height: 128px !important; } }

@media screen and (min-width: 1215px) {
  .image img.is-max-128x128-widescreen {
    width: auto !important;
    height: auto !important;
    max-width: 128px !important;
    max-height: 128px !important; } }

@media screen and (min-width: 1024px) {
  .image img.is-max-128x128-desktop {
    width: auto !important;
    height: auto !important;
    max-width: 128px !important;
    max-height: 128px !important; } }

@media screen and (min-width: 768px) {
  .image img.is-max-128x128-tablet {
    width: auto !important;
    height: auto !important;
    max-width: 128px !important;
    max-height: 128px !important; } }

@media screen and (max-width: 767px) {
  .image img.is-max-128x128-mobile {
    width: auto !important;
    height: auto !important;
    max-width: 128px !important;
    max-height: 128px !important; } }

.image img.is-max-180x180 {
  width: auto !important;
  height: auto !important;
  max-width: 180px !important;
  max-height: 180px !important; }

@media screen and (min-width: 1407px) {
  .image img.is-max-180x180-fullhd {
    width: auto !important;
    height: auto !important;
    max-width: 180px !important;
    max-height: 180px !important; } }

@media screen and (min-width: 1215px) {
  .image img.is-max-180x180-widescreen {
    width: auto !important;
    height: auto !important;
    max-width: 180px !important;
    max-height: 180px !important; } }

@media screen and (min-width: 1024px) {
  .image img.is-max-180x180-desktop {
    width: auto !important;
    height: auto !important;
    max-width: 180px !important;
    max-height: 180px !important; } }

@media screen and (min-width: 768px) {
  .image img.is-max-180x180-tablet {
    width: auto !important;
    height: auto !important;
    max-width: 180px !important;
    max-height: 180px !important; } }

@media screen and (max-width: 767px) {
  .image img.is-max-180x180-mobile {
    width: auto !important;
    height: auto !important;
    max-width: 180px !important;
    max-height: 180px !important; } }

.image img.is-max-256x256 {
  width: auto !important;
  height: auto !important;
  max-width: 256px !important;
  max-height: 256px !important; }

@media screen and (min-width: 1407px) {
  .image img.is-max-256x256-fullhd {
    width: auto !important;
    height: auto !important;
    max-width: 256px !important;
    max-height: 256px !important; } }

@media screen and (min-width: 1215px) {
  .image img.is-max-256x256-widescreen {
    width: auto !important;
    height: auto !important;
    max-width: 256px !important;
    max-height: 256px !important; } }

@media screen and (min-width: 1024px) {
  .image img.is-max-256x256-desktop {
    width: auto !important;
    height: auto !important;
    max-width: 256px !important;
    max-height: 256px !important; } }

@media screen and (min-width: 768px) {
  .image img.is-max-256x256-tablet {
    width: auto !important;
    height: auto !important;
    max-width: 256px !important;
    max-height: 256px !important; } }

@media screen and (max-width: 767px) {
  .image img.is-max-256x256-mobile {
    width: auto !important;
    height: auto !important;
    max-width: 256px !important;
    max-height: 256px !important; } }

.image img.is-max-16x16 {
  width: auto !important;
  height: auto !important;
  max-width: 16px !important;
  max-height: 16px !important; }

@media screen and (min-width: 1407px) {
  .image img.is-max-16x16-fullhd {
    width: auto !important;
    height: auto !important;
    max-width: 16px !important;
    max-height: 16px !important; } }

@media screen and (min-width: 1215px) {
  .image img.is-max-16x16-widescreen {
    width: auto !important;
    height: auto !important;
    max-width: 16px !important;
    max-height: 16px !important; } }

@media screen and (min-width: 1024px) {
  .image img.is-max-16x16-desktop {
    width: auto !important;
    height: auto !important;
    max-width: 16px !important;
    max-height: 16px !important; } }

@media screen and (min-width: 769px) {
  .image img.is-max-16x16-tablet {
    width: auto !important;
    height: auto !important;
    max-width: 16px !important;
    max-height: 16px !important; } }

@media screen and (max-width: 768px) {
  .image img.is-max-16x16-mobile {
    width: auto !important;
    height: auto !important;
    max-width: 16px !important;
    max-height: 16px !important; } }

.image img.is-max-24x24 {
  width: auto !important;
  height: auto !important;
  max-width: 24px !important;
  max-height: 24px !important; }

@media screen and (min-width: 1407px) {
  .image img.is-max-24x24-fullhd {
    width: auto !important;
    height: auto !important;
    max-width: 24px !important;
    max-height: 24px !important; } }

@media screen and (min-width: 1215px) {
  .image img.is-max-24x24-widescreen {
    width: auto !important;
    height: auto !important;
    max-width: 24px !important;
    max-height: 24px !important; } }

@media screen and (min-width: 1024px) {
  .image img.is-max-24x24-desktop {
    width: auto !important;
    height: auto !important;
    max-width: 24px !important;
    max-height: 24px !important; } }

@media screen and (min-width: 769px) {
  .image img.is-max-24x24-tablet {
    width: auto !important;
    height: auto !important;
    max-width: 24px !important;
    max-height: 24px !important; } }

@media screen and (max-width: 768px) {
  .image img.is-max-24x24-mobile {
    width: auto !important;
    height: auto !important;
    max-width: 24px !important;
    max-height: 24px !important; } }

.image img.is-max-32x32 {
  width: auto !important;
  height: auto !important;
  max-width: 32px !important;
  max-height: 32px !important; }

@media screen and (min-width: 1407px) {
  .image img.is-max-32x32-fullhd {
    width: auto !important;
    height: auto !important;
    max-width: 32px !important;
    max-height: 32px !important; } }

@media screen and (min-width: 1215px) {
  .image img.is-max-32x32-widescreen {
    width: auto !important;
    height: auto !important;
    max-width: 32px !important;
    max-height: 32px !important; } }

@media screen and (min-width: 1024px) {
  .image img.is-max-32x32-desktop {
    width: auto !important;
    height: auto !important;
    max-width: 32px !important;
    max-height: 32px !important; } }

@media screen and (min-width: 769px) {
  .image img.is-max-32x32-tablet {
    width: auto !important;
    height: auto !important;
    max-width: 32px !important;
    max-height: 32px !important; } }

@media screen and (max-width: 768px) {
  .image img.is-max-32x32-mobile {
    width: auto !important;
    height: auto !important;
    max-width: 32px !important;
    max-height: 32px !important; } }

.image img.is-max-48x48 {
  width: auto !important;
  height: auto !important;
  max-width: 48px !important;
  max-height: 48px !important; }

@media screen and (min-width: 1407px) {
  .image img.is-max-48x48-fullhd {
    width: auto !important;
    height: auto !important;
    max-width: 48px !important;
    max-height: 48px !important; } }

@media screen and (min-width: 1215px) {
  .image img.is-max-48x48-widescreen {
    width: auto !important;
    height: auto !important;
    max-width: 48px !important;
    max-height: 48px !important; } }

@media screen and (min-width: 1024px) {
  .image img.is-max-48x48-desktop {
    width: auto !important;
    height: auto !important;
    max-width: 48px !important;
    max-height: 48px !important; } }

@media screen and (min-width: 769px) {
  .image img.is-max-48x48-tablet {
    width: auto !important;
    height: auto !important;
    max-width: 48px !important;
    max-height: 48px !important; } }

@media screen and (max-width: 768px) {
  .image img.is-max-48x48-mobile {
    width: auto !important;
    height: auto !important;
    max-width: 48px !important;
    max-height: 48px !important; } }

.image img.is-max-64x64 {
  width: auto !important;
  height: auto !important;
  max-width: 64px !important;
  max-height: 64px !important; }

@media screen and (min-width: 1407px) {
  .image img.is-max-64x64-fullhd {
    width: auto !important;
    height: auto !important;
    max-width: 64px !important;
    max-height: 64px !important; } }

@media screen and (min-width: 1215px) {
  .image img.is-max-64x64-widescreen {
    width: auto !important;
    height: auto !important;
    max-width: 64px !important;
    max-height: 64px !important; } }

@media screen and (min-width: 1024px) {
  .image img.is-max-64x64-desktop {
    width: auto !important;
    height: auto !important;
    max-width: 64px !important;
    max-height: 64px !important; } }

@media screen and (min-width: 769px) {
  .image img.is-max-64x64-tablet {
    width: auto !important;
    height: auto !important;
    max-width: 64px !important;
    max-height: 64px !important; } }

@media screen and (max-width: 768px) {
  .image img.is-max-64x64-mobile {
    width: auto !important;
    height: auto !important;
    max-width: 64px !important;
    max-height: 64px !important; } }

.image img.is-max-96x96 {
  width: auto !important;
  height: auto !important;
  max-width: 96px !important;
  max-height: 96px !important; }

@media screen and (min-width: 1407px) {
  .image img.is-max-96x96-fullhd {
    width: auto !important;
    height: auto !important;
    max-width: 96px !important;
    max-height: 96px !important; } }

@media screen and (min-width: 1215px) {
  .image img.is-max-96x96-widescreen {
    width: auto !important;
    height: auto !important;
    max-width: 96px !important;
    max-height: 96px !important; } }

@media screen and (min-width: 1024px) {
  .image img.is-max-96x96-desktop {
    width: auto !important;
    height: auto !important;
    max-width: 96px !important;
    max-height: 96px !important; } }

@media screen and (min-width: 769px) {
  .image img.is-max-96x96-tablet {
    width: auto !important;
    height: auto !important;
    max-width: 96px !important;
    max-height: 96px !important; } }

@media screen and (max-width: 768px) {
  .image img.is-max-96x96-mobile {
    width: auto !important;
    height: auto !important;
    max-width: 96px !important;
    max-height: 96px !important; } }

.image img.is-max-128x128 {
  width: auto !important;
  height: auto !important;
  max-width: 128px !important;
  max-height: 128px !important; }

@media screen and (min-width: 1407px) {
  .image img.is-max-128x128-fullhd {
    width: auto !important;
    height: auto !important;
    max-width: 128px !important;
    max-height: 128px !important; } }

@media screen and (min-width: 1215px) {
  .image img.is-max-128x128-widescreen {
    width: auto !important;
    height: auto !important;
    max-width: 128px !important;
    max-height: 128px !important; } }

@media screen and (min-width: 1024px) {
  .image img.is-max-128x128-desktop {
    width: auto !important;
    height: auto !important;
    max-width: 128px !important;
    max-height: 128px !important; } }

@media screen and (min-width: 769px) {
  .image img.is-max-128x128-tablet {
    width: auto !important;
    height: auto !important;
    max-width: 128px !important;
    max-height: 128px !important; } }

@media screen and (max-width: 768px) {
  .image img.is-max-128x128-mobile {
    width: auto !important;
    height: auto !important;
    max-width: 128px !important;
    max-height: 128px !important; } }

.image img.is-max-180x180 {
  width: auto !important;
  height: auto !important;
  max-width: 180px !important;
  max-height: 180px !important; }

@media screen and (min-width: 1407px) {
  .image img.is-max-180x180-fullhd {
    width: auto !important;
    height: auto !important;
    max-width: 180px !important;
    max-height: 180px !important; } }

@media screen and (min-width: 1215px) {
  .image img.is-max-180x180-widescreen {
    width: auto !important;
    height: auto !important;
    max-width: 180px !important;
    max-height: 180px !important; } }

@media screen and (min-width: 1024px) {
  .image img.is-max-180x180-desktop {
    width: auto !important;
    height: auto !important;
    max-width: 180px !important;
    max-height: 180px !important; } }

@media screen and (min-width: 769px) {
  .image img.is-max-180x180-tablet {
    width: auto !important;
    height: auto !important;
    max-width: 180px !important;
    max-height: 180px !important; } }

@media screen and (max-width: 768px) {
  .image img.is-max-180x180-mobile {
    width: auto !important;
    height: auto !important;
    max-width: 180px !important;
    max-height: 180px !important; } }

.image img.is-max-256x256 {
  width: auto !important;
  height: auto !important;
  max-width: 256px !important;
  max-height: 256px !important; }

@media screen and (min-width: 1407px) {
  .image img.is-max-256x256-fullhd {
    width: auto !important;
    height: auto !important;
    max-width: 256px !important;
    max-height: 256px !important; } }

@media screen and (min-width: 1215px) {
  .image img.is-max-256x256-widescreen {
    width: auto !important;
    height: auto !important;
    max-width: 256px !important;
    max-height: 256px !important; } }

@media screen and (min-width: 1024px) {
  .image img.is-max-256x256-desktop {
    width: auto !important;
    height: auto !important;
    max-width: 256px !important;
    max-height: 256px !important; } }

@media screen and (min-width: 769px) {
  .image img.is-max-256x256-tablet {
    width: auto !important;
    height: auto !important;
    max-width: 256px !important;
    max-height: 256px !important; } }

@media screen and (max-width: 768px) {
  .image img.is-max-256x256-mobile {
    width: auto !important;
    height: auto !important;
    max-width: 256px !important;
    max-height: 256px !important; } }

@media screen and (min-width: 1407px) {
  .image.is-16x16-fullhd {
    width: 16px !important;
    height: 16px !important; } }

@media screen and (min-width: 1215px) {
  .image.is-16x16-widescreen {
    width: 16px !important;
    height: 16px !important; } }

@media screen and (min-width: 1024px) {
  .image.is-16x16-desktop {
    width: 16px !important;
    height: 16px !important; } }

@media screen and (min-width: 768px) {
  .image.is-16x16-tablet {
    width: 16px !important;
    height: 16px !important; } }

@media screen and (max-width: 767px) {
  .image.is-16x16-mobile {
    width: 16px !important;
    height: 16px !important; } }

@media screen and (min-width: 1407px) {
  .image.is-24x24-fullhd {
    width: 24px !important;
    height: 24px !important; } }

@media screen and (min-width: 1215px) {
  .image.is-24x24-widescreen {
    width: 24px !important;
    height: 24px !important; } }

@media screen and (min-width: 1024px) {
  .image.is-24x24-desktop {
    width: 24px !important;
    height: 24px !important; } }

@media screen and (min-width: 768px) {
  .image.is-24x24-tablet {
    width: 24px !important;
    height: 24px !important; } }

@media screen and (max-width: 767px) {
  .image.is-24x24-mobile {
    width: 24px !important;
    height: 24px !important; } }

@media screen and (min-width: 1407px) {
  .image.is-32x32-fullhd {
    width: 32px !important;
    height: 32px !important; } }

@media screen and (min-width: 1215px) {
  .image.is-32x32-widescreen {
    width: 32px !important;
    height: 32px !important; } }

@media screen and (min-width: 1024px) {
  .image.is-32x32-desktop {
    width: 32px !important;
    height: 32px !important; } }

@media screen and (min-width: 768px) {
  .image.is-32x32-tablet {
    width: 32px !important;
    height: 32px !important; } }

@media screen and (max-width: 767px) {
  .image.is-32x32-mobile {
    width: 32px !important;
    height: 32px !important; } }

@media screen and (min-width: 1407px) {
  .image.is-48x48-fullhd {
    width: 48px !important;
    height: 48px !important; } }

@media screen and (min-width: 1215px) {
  .image.is-48x48-widescreen {
    width: 48px !important;
    height: 48px !important; } }

@media screen and (min-width: 1024px) {
  .image.is-48x48-desktop {
    width: 48px !important;
    height: 48px !important; } }

@media screen and (min-width: 768px) {
  .image.is-48x48-tablet {
    width: 48px !important;
    height: 48px !important; } }

@media screen and (max-width: 767px) {
  .image.is-48x48-mobile {
    width: 48px !important;
    height: 48px !important; } }

@media screen and (min-width: 1407px) {
  .image.is-64x64-fullhd {
    width: 64px !important;
    height: 64px !important; } }

@media screen and (min-width: 1215px) {
  .image.is-64x64-widescreen {
    width: 64px !important;
    height: 64px !important; } }

@media screen and (min-width: 1024px) {
  .image.is-64x64-desktop {
    width: 64px !important;
    height: 64px !important; } }

@media screen and (min-width: 768px) {
  .image.is-64x64-tablet {
    width: 64px !important;
    height: 64px !important; } }

@media screen and (max-width: 767px) {
  .image.is-64x64-mobile {
    width: 64px !important;
    height: 64px !important; } }

@media screen and (min-width: 1407px) {
  .image.is-96x96-fullhd {
    width: 96px !important;
    height: 96px !important; } }

@media screen and (min-width: 1215px) {
  .image.is-96x96-widescreen {
    width: 96px !important;
    height: 96px !important; } }

@media screen and (min-width: 1024px) {
  .image.is-96x96-desktop {
    width: 96px !important;
    height: 96px !important; } }

@media screen and (min-width: 768px) {
  .image.is-96x96-tablet {
    width: 96px !important;
    height: 96px !important; } }

@media screen and (max-width: 767px) {
  .image.is-96x96-mobile {
    width: 96px !important;
    height: 96px !important; } }

@media screen and (min-width: 1407px) {
  .image.is-128x128-fullhd {
    width: 128px !important;
    height: 128px !important; } }

@media screen and (min-width: 1215px) {
  .image.is-128x128-widescreen {
    width: 128px !important;
    height: 128px !important; } }

@media screen and (min-width: 1024px) {
  .image.is-128x128-desktop {
    width: 128px !important;
    height: 128px !important; } }

@media screen and (min-width: 768px) {
  .image.is-128x128-tablet {
    width: 128px !important;
    height: 128px !important; } }

@media screen and (max-width: 767px) {
  .image.is-128x128-mobile {
    width: 128px !important;
    height: 128px !important; } }

@media screen and (min-width: 1407px) {
  .image.is-180x180-fullhd {
    width: 180px !important;
    height: 180px !important; } }

@media screen and (min-width: 1215px) {
  .image.is-180x180-widescreen {
    width: 180px !important;
    height: 180px !important; } }

@media screen and (min-width: 1024px) {
  .image.is-180x180-desktop {
    width: 180px !important;
    height: 180px !important; } }

@media screen and (min-width: 768px) {
  .image.is-180x180-tablet {
    width: 180px !important;
    height: 180px !important; } }

@media screen and (max-width: 767px) {
  .image.is-180x180-mobile {
    width: 180px !important;
    height: 180px !important; } }

@media screen and (min-width: 1407px) {
  .image.is-256x256-fullhd {
    width: 256px !important;
    height: 256px !important; } }

@media screen and (min-width: 1215px) {
  .image.is-256x256-widescreen {
    width: 256px !important;
    height: 256px !important; } }

@media screen and (min-width: 1024px) {
  .image.is-256x256-desktop {
    width: 256px !important;
    height: 256px !important; } }

@media screen and (min-width: 768px) {
  .image.is-256x256-tablet {
    width: 256px !important;
    height: 256px !important; } }

@media screen and (max-width: 767px) {
  .image.is-256x256-mobile {
    width: 256px !important;
    height: 256px !important; } }

@media screen and (max-width: 430px) {
  .is-hidden-small-mobile {
    display: none !important; } }

@media screen and (min-width: 431px), print {
  .is-hidden-big-mobile {
    display: none !important; } }

.has-text-weight-extra-bold {
  font-weight: 900 !important; }

.is-text-pink {
  color: #A56C97; }

.has-bg-color-pink {
  background-color: #dac5d5; }

.is-text-green {
  color: #5A7B17; }

.button.is-green.is-outlined {
  background-color: transparent;
  border-color: #5A7B17;
  color: #5A7B17; }

.button.is-green.is-outlined:hover,
.button.is-green.is-outlined:focus {
  background-color: #5A7B17;
  border-color: #5A7B17;
  color: #fff; }

.is-vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.format-break-paragraph br {
  content: "";
  margin: 6em;
  display: block;
  font-size: 24%; }

@media screen and (min-width: 769px), print {
  .is-size-huge-tablet {
    font-size: 6rem !important; } }

@media screen and (min-width: 769px), print {
  .is-size-big-tablet {
    font-size: 3.5rem !important; } }

@media screen and (min-width: 769px) {
  .is-vertical-align-when-not-mobile {
    position: relative;
    top: 50%;
    transform: translateY(-50%); } }

.has-responsive-text {
  font-size: calc(18px + (28 - 18) * ((100vw - 300px) / (1600 - 300))); }

.conferences-page {
  font-family: 'Montserrat', sans-serif;
  font-size: calc(18px + (28 - 18) * ((100vw - 300px) / (1600 - 300))); }
  .conferences-page a.conf-info:hover {
    background-color: #dac5d5; }
  .conferences-page .conf-info {
    width: 100%;
    height: auto; }
  .conferences-page a.conf-info {
    background-color: #f8f4f7; }
  .conferences-page .avatar-container {
    width: 100%;
    height: 100%; }
  .conferences-page .avatar {
    vertical-align: middle; }
  .conferences-page .conf-heading-hero {
    background-image: url("https://hashtagcauseascene.com/wp-content/uploads/2018/08/causeascene-soloHash-reverse-outlines_crop.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the imaverticnicely */
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(255, 255, 255, 0.9);
    background-blend-mode: lighten;
    z-index: -1; }
  .conferences-page .section.conf-heading {
    padding-bottom: 0.5rem; }
    .conferences-page .section.conf-heading .main-title {
      margin-top: 1.75rem;
      margin-bottom: 1.75rem; }
  .conferences-page .section.conf-details {
    padding-top: 0rem; }
    .conferences-page .section.conf-details p.detail-margin {
      margin-top: 1rem; }
    .conferences-page .section.conf-details h5.conf-details-heading {
      margin-bottom: 0.75rem; }
  .conferences-page #ConferenceContact {
    margin-bottom: 0.25em; }
