/*
Theme Name: Storefront Child
description: >-
  Storefront Child Theme
Authors: Maurice Hayward and Paul Melero
Template: storefront
Version: 1.0.0
*/

$dimensions: 16 24 32 48 64 96 128 180 256;
.full-size {
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* or overflow:auto; if you want scrollbars */
}

.image {
    img {
        @mixin is-max-image($width, $height) {
            width: auto !important;
            height: auto !important;
            max-width: $width * 1px !important;
            max-height: $height * 1px !important;
        }
        @each $dimension in $dimensions {
            &.is-max-#{$dimension}x#{$dimension} {
                @include is-max-image($dimension, $dimension);
            }
            @media screen and (min-width: 1407px) {
                &.is-max-#{$dimension}x#{$dimension}-fullhd {
                    @include is-max-image($dimension, $dimension);
                }
            }
            @media screen and (min-width: 1215px) {
                &.is-max-#{$dimension}x#{$dimension}-widescreen {
                    @include is-max-image($dimension, $dimension);
                }
            }
            @media screen and (min-width: 1024px) {
                &.is-max-#{$dimension}x#{$dimension}-desktop {
                    @include is-max-image($dimension, $dimension);
                }
            }
            @media screen and (min-width: 768px) {
                &.is-max-#{$dimension}x#{$dimension}-tablet {
                    @include is-max-image($dimension, $dimension);
                }
            }
            @media screen and (max-width: 767px) {
                &.is-max-#{$dimension}x#{$dimension}-mobile {
                    @include is-max-image($dimension, $dimension);
                }
            }
        }
    }
}

.image {
    img {
        @mixin is-max-image($width, $height) {
            width: auto !important;
            height: auto !important;
            max-width: $width * 1px !important;
            max-height: $height * 1px !important;
        }
        @each $dimension in $dimensions {
            &.is-max-#{$dimension}x#{$dimension} {
                @include is-max-image($dimension, $dimension);
            }
            @media screen and (min-width: 1407px) {
                &.is-max-#{$dimension}x#{$dimension}-fullhd {
                    @include is-max-image($dimension, $dimension);
                }
            }
            @media screen and (min-width: 1215px) {
                &.is-max-#{$dimension}x#{$dimension}-widescreen {
                    @include is-max-image($dimension, $dimension);
                }
            }
            @media screen and (min-width: 1024px) {
                &.is-max-#{$dimension}x#{$dimension}-desktop {
                    @include is-max-image($dimension, $dimension);
                }
            }
            @media screen and (min-width: 769px) {
                &.is-max-#{$dimension}x#{$dimension}-tablet {
                    @include is-max-image($dimension, $dimension);
                }
            }
            @media screen and (max-width: 768px) {
                &.is-max-#{$dimension}x#{$dimension}-mobile {
                    @include is-max-image($dimension, $dimension);
                }
            }
        }
    }
}

.image {
    @mixin is-image-size($width, $height) {
        width: $width * 1px !important;
        height: $height * 1px !important;
    }
    @each $dimension in $dimensions {
        @media screen and (min-width: 1407px) {
            &.is-#{$dimension}x#{$dimension}-fullhd {
                @include is-image-size($dimension, $dimension);
            }
        }
        @media screen and (min-width: 1215px) {
            &.is-#{$dimension}x#{$dimension}-widescreen {
                @include is-image-size($dimension, $dimension);
            }
        }
        @media screen and (min-width: 1024px) {
            &.is-#{$dimension}x#{$dimension}-desktop {
                @include is-image-size($dimension, $dimension);
            }
        }
        @media screen and (min-width: 768px) {
            &.is-#{$dimension}x#{$dimension}-tablet {
                @include is-image-size($dimension, $dimension);
            }
        }
        @media screen and (max-width: 767px) {
            &.is-#{$dimension}x#{$dimension}-mobile {
                @include is-image-size($dimension, $dimension);
            }
        }
    }
}

@media screen and (max-width: 430px) {
    .is-hidden-small-mobile {
        display: none !important;
    }
}

@media screen and (min-width: 431px),
print {
    .is-hidden-big-mobile {
        display: none !important;
    }
}

.has-text-weight-extra-bold {
    font-weight: 900 !important;
}

.is-text-pink {
    color: #A56C97
}

.has-bg-color-pink {
    background-color: #dac5d5;
}

.is-text-green {
    color: #5A7B17
}

.button.is-green.is-outlined {
    background-color: transparent;
    border-color: #5A7B17;
    color: #5A7B17;
}

.button.is-green.is-outlined:hover,
.button.is-green.is-outlined:focus {
    background-color: #5A7B17;
    border-color: #5A7B17;
    color: #fff;
}

.is-vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.format-break-paragraph br {
    content: "";
    margin: 6em;
    display: block;
    font-size: 24%;
}

@media screen and (min-width: 769px),
print {
    .is-size-huge-tablet {
        font-size: 6rem !important;
    }
}

@media screen and (min-width: 769px),
print {
    .is-size-big-tablet {
        font-size: 3.5rem !important;
    }
}

@media screen and (min-width: 769px) {
    .is-vertical-align-when-not-mobile {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

.has-responsive-text {
    font-size: calc(18px + (28 - 18) * ((100vw - 300px) / (1600 - 300)));
}

.conferences-page {
    font-family: 'Montserrat', sans-serif;
    font-size: calc(18px + (28 - 18) * ((100vw - 300px) / (1600 - 300)));
    a.conf-info:hover {
        background-color: #dac5d5;
    }
    .conf-info {
        width: 100%;
        height: auto;
    }
    a.conf-info {
        background-color: #f8f4f7;
    }
    .avatar-container {
        width: 100%;
        height: 100%;
    }
    .avatar {
        vertical-align: middle;
    }
    .conf-heading-hero {
        background-image: url("https://hashtagcauseascene.com/wp-content/uploads/2018/08/causeascene-soloHash-reverse-outlines_crop.jpg");
        /* Full height */
        height: 100%;
        /* Center and scale the imaverticnicely */
        background-position: right;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: rgba(255, 255, 255, 0.9);
        background-blend-mode: lighten;
        z-index: -1;
    }
    .section.conf-heading {
        padding-bottom: 0.5rem;
        .main-title {
            margin-top: 1.75rem;
            margin-bottom: 1.75rem;
        }
    }
    .section.conf-details {
        padding-top: 0rem;
        p.detail-margin {
            margin-top: 1rem
        }
        h5.conf-details-heading {
            margin-bottom: 0.75rem;
        }
    }
    .section.speakers {}
    #ConferenceContact {
        margin-bottom: 0.25em;
    }
}